# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sportdb
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_password

# Redpanda
REDPANDA_BROKERS=redpanda:9092

# Slack
SLACK_WEBHOOK_URL=your_webhook_url

# Google Maps
GOOGLE_MAPS_API_KEY=your_api_key

# Kestra
KESTRA_URL=http://kestra:8080